body {
	height: 100vh;
	margin: 0;
	overflow:hidden;
}

body {
	background: rgb(227,138,222);
	background: linear-gradient(0deg, rgba(227,138,222,1) 0%, rgba(142,169,255,1) 100%);
}

@font-face {
    font-family: "Venose";
    src: url("Venose.otf") format("opentype");
}

@font-face {
    font-family: "Varona";
    src: url("Varona.ttf") format("opentype");
}

@font-face {
    font-family: "Velnica";
    src: url("Velnica.ttf") format("opentype");
}

@font-face {
    font-family: "Galdien";
    src: url("Galdien.otf") format("opentype");
}

.block {
	margin: auto;
	width: 50%;
	margin-top: 50px;
	text-align: center;
}

.form-block {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(95, 46, 255, 0.1);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-top: 100px;
	padding: 20px;
}

.form {
	text-align: left;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-family: "Velnose", Times, serif;
	text-shadow: 1px 1px 2px rgba(239, 239, 255, 0.88);
}

.form-item {
    background-color: #e9e9e9;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #313131;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #57ad51;
}

h1 {
	font-family: "Venose", sans-serif;
	font-size: 80px;
	text-shadow: 1px 1px 2px rgba(52, 22, 184, 0.88);
	letter-spacing: 0px;
}

.navigation-bar {
	top: 0px;
	overflow: hidden;
	width: 100%;
}


.navigation-bar a{
	float: left;
	display: block;
	color: #eaeaea;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(52, 22, 184, 0.88);
}
